.App {
  width: 100%;
  text-align: center;
  background-color: #1C2736;
  color: #f0f0f0;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  padding: 2rem;
  background-color: #172030;
  border-bottom: 1px solid #333;
}

.header > h1{
  color: #FDC700;
}

.main {
  padding: 2rem;
}

.room {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px dashed #555;
  background-color: #1c1c1c;
}

footer{
  padding: 2rem;
  background-color: #172030;
  border-top: 1px solid #333;
}

main{
  height: 40rem;
}
div{
  width: 100%;
}