.App {
  width: 100%;
  text-align: center;
  background-color: #1C2736;
  color: #f0f0f0;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: Arial, sans-serif;
}

.header {
  left: 0;
  top: 0;
  padding: 1rem;
  padding-left: 7rem;
  background-color: #172030;
  border-bottom: 1px solid #333;
  height: 8rem;
  text-align: center;
}
.header > *{
  float: left;
}

.header h1{
  color: #FDC700;
}

.subHeading{
  color: #D1D5DC;
}

#EqBox{

  float: right;
  margin: 3rem 5rem;
}

#EqBox span{
  color: gray;
}

#EqBox >*{
  margin-left: 0.8rem;
  font-size: 1rem;
}

.main {
  padding: 2rem;
  height: 47rem;
}

footer{
  height: 6rem;
  color: #D1D5DC;
  text-align: center;
  padding: 1.5rem;
  background-color: #172030;
  border-top: 1px solid #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.card {
  position: relative;
  min-height: 13rem;
  background: #f6f7fb;
  color: #000;
  border-radius: 8px;
  padding: 20px;
}

.card:hover{
  cursor: pointer;
  border-width: 5px;
}

.card h3, .card h4 {
  margin-top: 1rem;
}

.wrap {
  max-width: 1100px;
  margin: 2rem auto;
}

.spanStatus{
  display: inline-block;
  margin-top: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #eee;
  font-size: 13px;
}

.notViewed{
  background-color: #666362;
  color: white;
}

.locked{
  background-color: #D7263D;
  color: white;
}

.cardIcon{
  width: 64px;
  height: 64px;
  opacity: 65%;
}


@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
  z-index: 1000;
  margin: 0;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.innerPopup {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

ul  li{
  text-align: left;
  margin-bottom: 2%;
  background-color: #f6f7fb !important;
}

ul > .notViewed{
  color: orange;
}

ul > .locked{
  color:#887474;
}

ul > .viewed{
  color: green;
}

.popupContent{
  margin: 2vh auto;
  background-color: #fefce8;
  width: 60%;
  padding: 2vh;
  border: 1px solid #fff085;
  white-space: pre-line;
}

.popupInput{
  width: 73%;
}

.popupButton{
  margin-top: 1vh;
  background-color: black;
  color: white;
  border-radius: 8%;
  width: 75%;
  height: 3vh;
}

#progress{
  cursor: default;
}

#hintsButton{
  border: 1px solid yellow;
  background: none;
  color: yellow;
  padding: 0.4rem 0.6rem 0.4rem 0.4rem;
  border-radius: 15%;
  font-size: 1.2rem;
}

#hintsButton .icon {
  vertical-align: middle;
  margin-right: 6px;
}

button{
  cursor: pointer;
}

.iconBox{
  position: absolute;
  right: 0;
  top: 0;
}

ol li {
  margin-top: 0.4rem;
}

#EqBox .popup{
  color: black 
}