.App {
  width: 100%;
  text-align: center;
  background-color: #1C2736;
  color: #f0f0f0;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background-color: #1c1c1c;
}

.header {
  left: 0;
  top: 0;
  padding: 1rem;
  padding-left: 3rem;
  background-color: #172030;
  border-bottom: 1px solid #333;
  position: fixed;
  height: 8rem;
  width: 100%;
}

.header > h1{
  color: #FDC700;
}

.header > p{
  color: #D1D5DC;
}

.main {
  padding: 2rem;
  height: 440rem;
}

footer{
  height: 6rem;
  color: #D1D5DC;
  text-align: center;
  padding: 1.5rem;
  background-color: #172030;
  border-top: 1px solid #333;
}
